<script id="tmpl-DrawboardView" type="text/html">
	<div class="DrawboardView">
		<div class="container">
			<canvas id="canvas" width="100%" height="100%"/>
		</div>
		<div class="toolbar">
			<div>Click and Drag to draw</div>
		</div>
	</div>
</script>