@import "../pcss/utils.pcss";


.EggView{
	display: flex;
	flex-direction: column;
	flex: 1;
	.container{
		position:relative;
		flex: 1;
		display: flex;
		flex-direction: column;
		margin: 30px;
		border-bottom: 1px solid #ccc;
		canvas{
			flex: 1;
		}
	}
	.toolbar{
		text-align: center;
		height: 48px;
	}
}