<script id="tmpl-FootballView" type="text/html">
	<div class="FootballView">
		<div class="container">
			<div class="football"></div>
		</div>
		<div class="toolbar">
			<button >Play</button>
		</div>
	</div>
</script>