<script id="tmpl-MainView" type="text/html">
	<div class="MainView">
		<div class="MainView-header">
			<h3 class="title">Flex Animation Application</h3>
			<nav class="nav">
				
			</nav>
		</div>
		<div class="MainView-content">

		</div>
	</div>
</script>