<script id="tmpl-MainView" type="text/html">
	<div class="MainView">
		<div class="MainView-header">
			<h3 class="title">Flex Animation Application</h3>
			<ul class="nav">
				<li data-nav="football">Football</li>
				<li data-nav="createjs-football">CreateJS Football</li>
				<li data-nav="animate-football">Animate CC Football</li>
			</ul>
		</div>
		<div class="MainView-content">

		</div>
	</div>
</script>