<script id="tmpl-MoveView" type="text/html">
	<div class="MoveView">
		<div class="container">
			<div class="box"></div>
		</div>
		<div class="toolbar">
			<button >Click it</button>
		</div>
	</div>
</script>