@import "../pcss/utils.pcss";


.MoveView{
	display: flex;
	flex-direction: column;
	flex: 1;
	.container{
		flex: 1;
		margin: 16px;
		.box{
			transform: translate(0px, 0px); 
		}
	}
	.toolbar{
		text-align: center;
		height: 48px;
	}
}