
@keyframes ball-playing{
	0% {
		transform:  translate(0px,-150px)  rotate(0deg) scaleY(1.00) ;
	}
	32% {
		transform:  translate(0px,150px)  rotate(180deg) scaleY(1.00) ;
	}
	50% {
		transform:  translate(0px,160px)  rotate(180deg) scaleY(0.60) ;
	}
	68% {
		transform:  translate(0px,150px)  rotate(180deg) scaleY(1.00) ;
	}
	100% {
		transform:  translate(0px,-150px)  rotate(360deg) scaleY(1.00) ;
	}
}
