
@keyframes ball-playing{
	0% {
		transform:  translate(0px,-142px)  scaleY(1.00) ;
	}
	20% {
		transform:  translate(0px,4px)  scaleY(0.92) ;
	}
	35% {
		transform:  translate(0px,154px)  scaleY(0.85) ;
	}
	50% {
		transform:  translate(0px,155px)  scaleY(0.79) ;
	}
	65% {
		transform:  translate(0px,150px)  scaleY(1.00) ;
	}
	80% {
		transform:  translate(0px,22px)  ;
	}
	100% {
		transform:  translate(0px,-144px)  scaleY(1.00) ;
	}
}
